@font-face {
	font-family: 'Mitr';
	src:
		url(/fonts/Mitr-ExtraLight.ttf) format('truetype');
	font-weight: 275;
	font-style: normal;
}
@font-face {
	font-family: 'Mitr';
	src: 
		url(/fonts/Mitr-Medium.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Mitr';
	src: 
		url(/fonts/Mitr-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Yrsa';
	src: 
		url(/fonts/Yrsa-BoldItalic.ttf) format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Yrsa';
	src: 
		url(/fonts/Yrsa-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}