* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

img {
	width: 100%;
}

h1 {
	display: none;
}

.container {
	width: 1718px;
	margin: 0 auto;
}